.landing{
  
  &__header{
    flex: 1;
    width: 100%;
    color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &>*{
      transform: translateY(-45px);
    }
    .header-small{
      font-size: 18px;
      margin: 0;
    }
    .header-hello{
      font-weight: bold;
      display: flex;
      align-items: center;
    } 
    .header-pos{
      text-transform: uppercase;
    }
    .header-name{
      display: inline-block;
      position: relative;
      font-size: 50px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      width: 230px;
      &:after{
        content: '';
        position: absolute;
        width: 60%;
        height: 80%;
        top: 0;
        right: 0;
        transform: translateY(-40%);
        // change this red to something nicer
        background: red;
        z-index: -1;
      }
    }
  }
}

@media screen and(min-width: 550px){
  .landing{
    &__header{
      .header-small{
        letter-spacing: 2px;
      } 
      .header-name{
        font-size: 80px;
        width: 375px;
        letter-spacing: 4px;
      }
    }
  }
}
@media screen and(min-width: 650px){
  .landing{
    &__header{
      .header-small{
        letter-spacing: 3px;
      } 
      .header-name{
        font-size: 90px;
        width: 425px;
        letter-spacing: 6px;
      }
    }
  }
}
@media screen and(min-width: 750px){
  .landing{
    &__header{
      .header-small{
        letter-spacing: 2px;
      } 
      .header-name{
        font-size: 80px;
        width: 375px;
        letter-spacing: 4px;
      }
    }
  }
}