@import './header';
@import './photo';
@import './social';

.landing{
  width: 100%;
  height: calc(100vh - 90px);
  padding: 0 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start
}