.landing{
  &__photo{
    display: none;
  }
}
@media screen and (min-width: 750px){
  .landing{
    &__photo{
      display: block;
      flex: 1;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}