@import './articles';
@import './dots';
@import './section-header';
.about-me{
  height: 100vh;
  min-height: 600px;
  padding: 90px 45px;
  z-index: 10;
  color: #eaeaea;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 90px minmax(150px, 450px) 90px; 
  align-items: center;

}