.about-me{
  .articles{
    grid-column: 2 / -1;
    overflow: hidden;
    &__container{
      height: 100%;
      display: grid;
      grid-template-columns: 100% 100% 100%;
      article{
        -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
        h3{
          font-size: 28px;
          color: red;
          font-weight: bold;
        }
        p{
          font-size: 16px;
        }
      }
    }
    
   }
}