.about-me{
  .about-me__dots{
    grid-column: 2 / -1;
    .dot{
      background: #eaeaea;
      margin-right: 30px;
      height: 20px;
      width: 20px;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transform: scale(1);
      transition: all cubic-bezier(.65,-0.27,.33,.68) 0.4s;
    }
    .dot--active{
      transform: scale(0.5);
      background-color: red;
      
    }
  }
}