.about-me{
  .about-me__dots{
    grid-column: 2 / -1;
    .dot{
      background: #eaeaea;
      margin-right: 30px;
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 50%;
      
    }
  }
}