@import './skillsList';
@import './skillDesc';
@import './skillsLine';
.skills{
  min-height: 650px;
  width: 100%;
  background: #eaeaea;
  padding: 0;
  main{
    padding: 180px 10px;
  }
}