@import "./styles/nav/nav";
@import "./styles/landing/landing";

* {
  box-sizing: border-box;
}
html {
  font-size: 62%;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 90px 0 0 0;
  margin: 0;
  background: #212121;
  overflow-x: hidden;
}

